.navegacion{
    display: flex;
    justify-content: center;
    background: #1A374D;
    margin-bottom: 0.8rem;
}

.textNav{
    margin: 1rem;
    color: white;
    font-family: 'Nunito', sans-serif;
}