.selector{
    outline: none;
    height: 1.4em;
    border: 2px solid #23049D;
    border-radius: 0.4rem;
    margin: 0rem 0rem 1rem 0rem;
    width: 10em;
    height: 2em;
    color: white;
    background: transparent;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option{
    background-color: #000000;
    font-family: 'Nunito', sans-serif;
}

.label{
    width: 12em;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.form{
    margin: 0.2em 1.2em 0em 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
}

.containerSelects {
    margin: 0em 1em;
    width: auto;
}

@media (max-width: 620px) {
    
    .form{
        flex-direction: column;
    }

    .containerSelects {
        margin: 1em 0em;
    }

    .containerSelects .div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0em 1em 0em 1em;
        width: auto;
    }

    .label{
        margin: 0rem 0rem 1rem 0rem;
        width: 10em;
        color: white;
        font-family: 'Nunito', sans-serif;
    }

    .selector {
        margin: 0px;
    }
}