p{
    color: white;
}

.textP{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}

.numeros{
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.precios{
    color: white;
    margin: 1rem 0rem 1rem 1rem;
}

.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 2.5rem;
    border-bottom: 2px solid #141E27;
    width: -webkit-fill-available;
}

.container:hover{
    background: #064663;
    transition: 0.3s;
}

.barraArriba:hover{
    background: none;
    cursor: auto;
}

.barraArriba{
    border-bottom: 4px solid #141E27;
}

.containers{
    position: relative;
    display: flex;
    justify-content: center;
}

.containerAll{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 2rem 1rem 2rem;
    width: -webkit-fill-available;
    background: #1A374D;
}

.name{
    /* background: #345B63; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.4rem;
    height: 2.4rem;
    width: 14.5rem;
}
.name1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.4rem;
    margin-left: 0.3rem;
    height: 2.4rem;
    width: 13.5rem;
}

.simbolo{
    color: white;
    opacity: 0.5;
    margin-left: 1rem;
}

.current_price{
    /* background: #345B63; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.4rem;
    width: 9rem;
}

.imgCrypto{
    height: 1.6rem;
    width: 1.6rem;
    margin-right: 0.8rem;
}

.nameYnumero{
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;
}

.verde{
    color: #4a9273;
}

.rojo{
    color: #c23434;
}

.porcentajePhone {
    visibility: hidden;
    position: absolute;
}

@media (max-width: 620px){
    .precio24h {
        position: absolute;
        visibility: hidden;
        z-index: -1;
    }


    .phone {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 5em;
        width: 13em;
    }

    .textP {
        position: absolute;
        top: 1em;
        margin: 0px;
        width: 8em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .simbolo {
        position: absolute;
        top: 2.3em;
        margin: 0px;
    }

    .container {
        height: 3.5rem;
        width: 100%;
    }

    .precios {
        position: absolute;
        margin: 0px;
        right: 0.3em;
        top: 0.6em;
    }

    .prueba {
        width: 6em;
    }

    .name {
        width: 12em;
    }

    .porcentajePhone {
        visibility: visible;
        position: absolute;
        margin: 0px;
        right: 0.3em;
        top: 1.9em;
    }
}